
html {
  font-size: 100%;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2.4em;
}

.cover_page {
  display: grid;
  grid-template-columns: article_3fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "article_1 article_2"
  "article_1 article_2"
  "article_1 article_2";
  max-height: 100vh;
}

.cover_page a {
  display: block;
  max-width: 70vw;
  height: 100%;
}

.cover_page figure {
  margin: 0;
  height: 100%;
}

.cover_page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover_page a:nth-child(1) { grid-area: article_1; }
.cover_page a:nth-child(2) { grid-area: article_2; }


.paragraph{

  text-align: center;
  vertical-align: center;

}


.other_guitars {
  display: grid;
  grid-template-columns: article_1fr 3fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "article_1 article_2 article_5"
  "article_3 article_4 article_6";
  max-height: 100vh;
}

.other_guitars a {
  display: block;
  max-width: 70vw;
  height: 100%;
}

.other_guitars figure {
  margin: 0;
  height: 100%;
}

.other_guitars img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.other_guitars a:nth-child(1) { grid-area: article_1; }
.other_guitars a:nth-child(2) { grid-area: article_2; }
.other_guitars a:nth-child(3) { grid-area: article_3; }
.other_guitars a:nth-child(4) { grid-area: article_4; }
.other_guitars a:nth-child(5) { grid-area: article_5; }
.other_guitars a:nth-child(6) { grid-area: article_6; }


.partners ul li{
    padding: 1em 0;
}
